.about-page-intro {
	//padding: 0;
	padding-bottom: 0;
	margin-bottom: 10px;
	 > h2 {
	 	font-size: $font-large;
		text-align: center;
		text-transform: uppercase;
	 }  /* <h2></h2> */
	 > p {
		text-align: center;
	 }  /* <p></p> */
}  /* .about-page-intro */

.staff-entry {
	margin: 0 0 75px 0;
	position: relative;
	@include bp(drummer) {  /* 47em */
		width: 100%;
	}
	@include bp(venus) {  /* 600px */
		margin: 0 0 25px 0;
	}
	.staff-head-block {
		top: -25px;
		width: 85%;
		position: absolute;
		.staff-title {
			padding: 10px 15px 5px 15px;
			margin: 50px 0 15px 35px;
			font-weight: 700;
			font-size: $font-med!important;
			color: $black;
			background: $white;
			border: 5px solid $lightblue;
			text-transform: uppercase;
			float: left;
			display: inline-block;
			@include bp(venus) {  /* 600px */
				margin: 50px 0 15px 25px;
				font-size: $font-small!important;
			}
			.credentials {
				color: $gray;
				font-size: $font-med;
				@include bp(venus) {  /* 600px */
					font-size: $font-small;
				}
			}  /* .credentials */
		}  /* .staff-title */
		.thumb-container {
			width: 120px;
			height: 120px;
			margin: 10px 25px 10px 0;
			top: 5px;
			right: 5px;
			border-radius: 50%;
			background: $lightblue;
			border: 7px solid $lightblue;
			position: absolute;
			@include bp(venus) {  /* 600px */
				display: none;
			}
			.missing-thumb {
				top: 17px;
				left: 15px;
				width: 75px;
				fill: $green!important;
				position: absolute;
			}  /* .missing-thumb */
		}  /* .thumb-container */
	}  /* .staff-head-block */
	.staff-history {
		padding: 60px 10px 10px 10px;
		width: 100%;
		background: $lightblue;
		border: 4px solid $lightblue;
		float: left;
		@include bp(venus) {  /* 600px */
			padding: 25px 10px 10px 10px;
		}
		> p {
			padding: 0 0 25px 0;
			color: $white;
			font-size: $font-med;
			@include bp(venus) {  /* 600px */
				font-size: $font-small;
			}
			&:last-child {
				padding: 0;
			}
		}  /* <p></p> */
	}  /* .staff-history */
}  /* .staff-entry */