body {
	z-index: -1000;
	background: $mediumgray;
}

.top-content {
	position: relative;
	padding: 10px 0 0 0;
	margin: 25px 0 0 0;
	background: $white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.top-content:after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	height: 10px;
	border-radius: 70%;
	z-index: -1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	width: 100%;
}

.title {
	padding: 0 0 5px 10px;
}

.landing-image {
	position: relative;
	.office-hours {
		top: -1px;
		right: 75px;
		padding: 20px 25px 10px 25px;
		box-shadow: 0 -1px 3px $black;
		border: 5px solid $blue;
		background: lighten($gray, 20);
		position: absolute;
		display: inline;
		.title-divider {
			width: 90%;
			height: 2px;
			margin: 10px 5%;
			border-bottom: 1px solid $black;
		}
		p {
			padding: 0 0 0 10px;
			font-size: $font-small;
		}
	}
	.inner-arrow-down {
		position: absolute;
		bottom: -84px;
		left: 0;
		z-index: 100;
		width: 0;
		height: 0;
		border-left: 133px solid transparent;
		border-right: 133px solid transparent;
		border-top: 84px solid lighten($gray, 20);
	}
	.outer-arrow-down {
		position: absolute;
		bottom: -94px;
		right: -5px;
		width: 0;
		height: 0;
		border-left: 137.5px solid transparent;
		border-right: 137.5px solid transparent;
		border-top: 89px solid $blue;
	}
}

.navigation {
	margin: 0 0 25px 0;
	width: 100%;
	border-top: 10px solid $lightblue;
	border-bottom: 10px solid $lightblue;
	li {
		padding: 0;
		a {
			color: $blue;
			background: $white;
			padding: 25px 20px;
			border-left: 2px solid $white;
			border-right: 2px solid $white;
			text-shadow: 0 0 0 $blue;
			.top-row {

			}
			.bottom-row {

			}
		}
		&:hover a, &:focus a {
			color: $black;
			transition: .2s color linear;
			background: $lightblue;
			transition: .2s background linear;
			border-left: 2px solid lighten($gray, 10);
			border-right: 2px solid lighten($gray, 10);
			transition: .2s border linear;
			text-shadow: 1px 1px 0 $marqueblue;
			transition: .2s text-shadow linear;
		}

	}
}

.recent-news {
	padding: 10px 15px;
	.news-item {
		padding: 10px 15px;
		margin: 0 0 25px 0;
		border: 10px solid lighten($gray, 10);
		background: lighten($lightblue, 30);
		h3 {

		}
		p {
			font-size: $font-med;
		}
	}
}

.main-info {
	padding: 0 2em 50px 2em;

	&:last-child {

		border-bottom: none;
	}
	h2 {
		margin: 0 0 10px 0;
		font-size: $font-xxl;
	}
	p {
		font-size: $font-med;
	}
}

.main-divider {
	margin-left: 13%;
	height: 10px;
	width: 40%;
	float: left;
	border-bottom: 5px solid lighten($lightblue, 20);
}

.practice-introduction {
	a {
		font-size: $font-med;
	}
}

.new-patient-intro {
	padding: 50px 2em 0 2em;
}

footer {
	//background: $white;
	padding: 0px 0 0 0;
	margin: 50px 0 0 0;
	.foot-info-block {
		padding: 10px 10px 10px 25px;

		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	}
	.top-footer {
		padding: 0 0 25px 0;
		z-index: -100;
		//background: $mediumgray;
		position: relative;
		p {
			font-size: $font-small;
		}
		.foot-location-info {
			background: $white;
		}
		.foot-divider {
			margin-left: 10%;
			height: 10px;
			width: 25%;
			top: 15px;
			z-index: -1;
			float: left;
			border-bottom: 3px solid $blue;
			position: absolute;

		}
		.foot-divider:nth-of-type(2) {
			top: 25px;
			margin-left: 20%;
		}
		.foot-divider:nth-of-type(3) {
			top: 35px;
			margin-left: 30%;
		}
		.foot-divider:nth-of-type(4) {
			top: 45px;
			margin-left: 40%;
		}
		.foot-divider:nth-of-type(5) {
			top: 55px;
			margin-left: 50%;
		}
		.foot-divider:nth-of-type(6) {
			top: 65px;
			margin-left: 60%;
		}
		.foot-contact-info {
			background: $white;
		}
	}
	.bottom-footer {
		padding: 25px 0;
		background: $white;
		.site-sub-links {
			p {
				font-size: $font-small;
				a {
					font-size: $font-small;
				}
			}
		}
	}
}