body {
	z-index: -1000;
	background: $mediumgray;
}

.top-content {
	padding: 0 0 200px 0;
	margin: 25px 0 0 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	z-index: -100;
	background: $white;
	position: relative;
}

main {
	padding: 50px 0 0 0;
	box-shadow: 0 -30px 50px -30px rgba(0, 0, 0, 0.8);
	float: left;
}

.title {
	padding: 15px 0 25px 15px;
	text-shadow: 1px 1px 2px $black;
	color: $white;
	background: $blue;
}

.landing-image {
	box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.4),
				   0 10px 10px rgba(0, 0, 0, 0.4);
	position: relative;
	.office-hours {
		top: -1px;
		right: 75px;
		padding: 20px 25px 10px 25px;
		box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
		border: 5px solid $blue;
		background: lighten($gray, 25);
		position: absolute;
		display: inline;
		.title-divider {
			width: 90%;
			height: 2px;
			margin: 10px 5%;
			border-bottom: 1px solid $black;
		}
		p {
			padding: 0 0 0 10px;
			font-size: $font-small;
		}
	}
	.inner-arrow-down {
		bottom: -84px;
		left: -1px;
		z-index: 100;
		width: 0;
		height: 0;
		border-top: 85px solid lighten($gray, 25);
		border-left: 133px solid transparent;
		border-right: 133px solid transparent;
		position: absolute;
	}
	.outer-arrow-down {
		bottom: -94px;
		right: -5px;
		width: 0;
		height: 0;
		border-top: 89px solid $blue;
		border-left: 137.5px solid transparent;
		border-right: 137.5px solid transparent;
		position: absolute;
	}
}

nav {
	box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.4),
				     5px 0 5px -5px rgba(0, 0, 0, 0.4);
	@include clearfix;
}

.navigation-menu {
	width: 100%;
	background: $blue;
	float: left;
	text-align: center;
	.navigation-item {
		padding: 0;
		width: ((100%) / 7) - 1.5;
		display: inline-block;
		a {
			padding: 25px 0 40px 0;
			width: 100%;
			font-size: $font-small;
			color: $white;
			background: $blue;
			text-transform: uppercase;
			.top-row {

			}
			.bottom-row {

			}
		}
		&:hover a, &:focus a {
			color: $black;
			transition: .2s color linear;
			background: $white;
			transition: .2s background linear;
		}

	}
}

.recent-news {
	padding: 10px 15px;
	.news-item {
		padding: 10px 15px;
		margin: 0 0 25px 0;
		box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.8);
		border: 10px solid $blue;
		background: lighten($lightblue, 30);
		h3 {

		}
		p {
			font-size: $font-small;
		}
	}
}

.main-info {
	padding: 0 2em 50px 2em;

	&:last-child {

		border-bottom: none;
	}
	h2 {
		margin: 0 0 10px 0;
		font-size: $font-xxl;
	}
	p {
		font-size: $font-med;
	}
}

.main-divider {
	margin-left: 13%;
	height: 10px;
	width: 40%;
	float: left;
	border-bottom: 1px solid $gray;
}

.main-info-upper {
	a {
		font-size: $font-med;
	}
}

.main-info-lower {
	padding: 50px 2em 0 2em;
}

footer {
	padding: 100px 0 0 0;
	margin: -125px 0 0 0;
	//border-radius: 40% 40% 0 0;
	min-height: 100px;
	box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.4),  // remove inset if border-radius
						-1px 0 1px 0 rgba(0, 0, 0, 0.4),
						1px 0 1px 0 rgba(0, 0, 0, 0.4);
	background: $blue;
	.foot-info-block {
		padding: 10px 10px 10px 25px;
		box-shadow: 0 5px 10 rgba(0, 0, 0, 0.4),
					   0 -5px 10px rgba(0, 0, 0, 0.4);
	}
	.top-footer {
		padding: 25px 0;
		p {
			font-size: $font-small;
		}
		.foot-location-info {
			box-shadow: 4px 0 15px 1px rgba(0, 0, 0, 0.6);
			background: $white;
		}
		.foot-contact-info {
			box-shadow: -4px 0 15px 1px rgba(0, 0, 0, 0.6);
			background: $white;
		}
	}
	.bottom-footer {
		padding: 25px 0;
		margin: 25px 0 0 0;
		box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.4);
		background: $white;
		.site-sub-links {
			p {
				font-size: $font-small;
				a {
					color: $black;
					font-size: $font-small;
				}
			}
		}
	}
}