.payment-container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	.payment-button {
		padding: 15px 0 5px 0;
		width: 200px;
		height: 60px;
		border-radius: 5px;
		background: $white;
		color: $black;
		font-size: $font-med;
		border: 5px solid $blue;
		text-transform: none;
		text-align: center;
		@include bp(earth) {  /* 750px */
			margin: 0 1em;
		}
		&:hover, &:focus {
			background: $blue;
			color: $white;
			border: 5px solid $black;
			text-transform: uppercase;
			transition: 0.2s all linear;
		}
	}  /* .payment-button */
	.button-strike {
		width: 65%;
		height: 2px;
		left: 0;
		bottom: 20px;
		z-index: -99;
		border-bottom: 5px solid $blue;
		position: absolute;
		@include bp(earth) {  /* 750px */
			width: 100%;
		}
	}  /* .button-strike */
}  /* .payment-container */